body {
  background-color: rgb(86, 86, 112);
  align-items: center;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 3%;
}

* {
  border: 2;
  margin: 2;
  padding: 2;

  --main-color: #dccc;
  font-family: "Times New Roman", Times, serif;
}

/*style the navbar */
#page_header {
  background-color: var(--main-color);
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  font-size: larger;
  /* margin-right: 50px; */
  text-align: center;
}

#Cars {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 30px;
  height: auto;
  flex-wrap: wrap;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: #dccc;
  margin-bottom: 30px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
